<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.AdminCustomerDao">

    <resultMap id="customerMap" type="com.heitian.ssm.model.Customer">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="is_email_verified" property="is_email_verified" jdbcType="BOOLEAN"/>
    </resultMap>
    
    <select id="findCustomerById" parameterType="java.lang.Long" resultMap="customerMap">
        SELECT * FROM customer WHERE id=#{id}
    </select>
    
   <!-- <select id="findCustomerByName" parameterType="java.lang.String" resultMap="customerMap">
        SELECT * FROM customer
        WHERE name = #{name}
    </select> 
    
    <select id="findAllCustomer" resultMap="customerMap">
        SELECT * FROM customer
    </select>
    
     根据名字信息模糊查询
    <select id="selectCustomerByName" parameterType="java.lang.String" resultMap="customerMap">
        SELECT * FROM customer WHERE name LIKE '%${value}%'
    </select> -->

	<!-- 将用户数据拉入黑名单 -->
    <update id="blacklist" parameterType="java.lang.Long">
    	UPDATE customer SET status=1 WHERE id = #{value}
    </update>
  
  	<!--  查询所有处于白名单或者黑名单下的用户 -->
   <!--  <select id="findlist" parameterType="int" resultMap="customerMap">
        SELECT * FROM customer WHERE status= #{status}
    </select> -->
    
    <!-- 将用户数据拉入白名单 -->
    <update id="whitelist" parameterType="java.lang.Long">
    	UPDATE customer SET status=0 WHERE id = #{value}
    </update>
    
    <!-- 查询用户信息 -->
    <select id="searchCustomerWithKeyword" resultMap="customerMap" parameterType="com.heitian.ssm.bo.CustomerCondition">
        SELECT * from customer
        WHERE 1=1
        <if test="telephone != null and telephone != ''">
            AND telephone= #{telephone}
        </if>

        <if test="email != null and email != ''">
             AND email= #{email}
        </if>
        
        <if test="status != null and status != ''">
             AND status= #{status}
        </if>
        
        <if test="keyWord != null and keyWord != ''">
            AND name LIKE "%"#{keyWord,jdbcType=VARCHAR}"%"
        </if>
        ORDER BY id
    </select>
    
    <!-- 删除用户信息 -->
    <update id="deleteCustomerById" parameterType="java.lang.Long">
    	UPDATE customer SET state=2 WHERE id = #{id}
    </update>
    
</mapper>