<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.MallIncomeDao">
    <insert id="insertIncome">
        insert into mall_income(income,year,month,day,week)
          select commission,year(created_at),month(created_at),day(created_at),week(created_at)
          from `order`
          where id=#{orderId};
    </insert>

    <select id="getIncomeByTime" resultType="com.heitian.ssm.bo.IncomeBo">
        select sum(income)/100 income,
        <choose>
            <when test="i == 0">
                year,month,day
            </when>
            <when test="i == 1">
                year,week
            </when>
            <when test="i == 2">
                year,month
            </when>
            <when test="i == 3">
                year
            </when>
        </choose>
        from mall_income
        group by
        <choose>
            <when test="i == 0">
                year,month,day
            </when>
            <when test="i == 1">
                year,week
            </when>
            <when test="i == 2">
                year,month
            </when>
            <when test="i == 3">
                year
            </when>
        </choose>
        order by
        <choose>
            <when test="i == 0">
                year desc,month desc,day desc
            </when>
            <when test="i == 1">
                year desc,week desc
            </when>
            <when test="i == 2">
                year desc,month desc
            </when>
            <when test="i == 3">
                year desc
            </when>
        </choose>
    </select>
    <select id="getAllIncome" resultType="double">
        select sum(income)/100 income from mall_income
    </select>
</mapper>