<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.OwnerPhotoDao">
    <resultMap id="PhotoBaseMap" type="com.heitian.ssm.model.OwnerPhoto">
        <id column="id" property="id"/>
        <result column="owner_id" property="ownerId"/>
    </resultMap>

    <insert id="insertPhoto" useGeneratedKeys="true" keyProperty="id" parameterType="com.heitian.ssm.model.OwnerPhoto">
        INSERT INTO owner_photo(owner_id, path)
        VALUES (#{ownerId}, #{path})
    </insert>
    <update id="updatePhoto" parameterType="com.heitian.ssm.model.OwnerPhoto">
        UPDATE owner_photo
        SET path=#{path}
        WHERE owner_id=#{ownerId}
    </update>
    <delete id="deletePhoto">
        DELETE FROM owner_photo
        WHERE owner_id=#{ownerId},path=#{path}
    </delete>
</mapper>