<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.OwnerPhotoDao">
    <resultMap id="PhotoBaseMap" type="com.heitian.ssm.model.OwnerPhoto">
        <id column="id" property="id"/>
        <result column="owner_id" property="ownerId"/>
    </resultMap>

    <insert id="insertPhoto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO OWNER_PHOTO(path)
        VALUES (#{path})
    </insert>
    <update id="updatePhoto" parameterType="com.heitian.ssm.model.OwnerPhoto">
        UPDATE OWNER_PHOTO
        SET owner_id=#{ownerId},path=#{path}
        WHERE id=#{id}
    </update>
    <delete id="deletePhoto">
        DELETE FROM OWNER_PHOTO
        WHERE owner_id=#{ownerId},path=#{path}
    </delete>
</mapper>