<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.PhotoDao">
    <resultMap id="PhotoBaseMap" type="com.heitian.ssm.model.Photo">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
    </resultMap>

    <insert id="insertPhoto" useGeneratedKeys="true" keyProperty="id" parameterType="com.heitian.ssm.model.Photo">
        INSERT INTO PRODUCT_PHOTO(product_id,hash,path)
        VALUES (#{productId},#{hash},#{path})
    </insert>
    <update id="updatePhoto" parameterType="com.heitian.ssm.model.Photo">
        UPDATE PRODUCT_PHOTO(product_id,hash,path)
        SET product_id=#{productId},hash=#{hash},path=${path}
    </update>
    <delete id="deletePhoto">
        DELETE FROM PRODUCT_PHOTO
        WHERE id=#{id}
    </delete>
    <select id="selectPhotoById" resultMap="PhotoBaseMap">
        SELECT id,product_id,hash,path
        FROM product_photo WHERE id=#{id}
    </select>
    <select id="selectPhotosByProduct" resultMap="PhotoBaseMap">
        SELECT  id,product_id,has,path
        FROM product_photo WHERE product_id=#{productId}
    </select>
</mapper>