<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.PhotoDao">
    <resultMap id="PhotoBaseMap" type="com.heitian.ssm.model.Photo">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
    </resultMap>

    <insert id="insertPhoto"  parameterType="java.lang.String">
        INSERT INTO product_photo(productId, path)
        VALUES (0, #{photo})
    </insert>

    <update id="updatePhoto" parameterType="com.heitian.ssm.model.Photo">
        UPDATE product_photo
        SET product_id=#{productId}, path=#{path}
        WHERE id=#{id}
    </update>
    <delete id="deletePhoto">
        DELETE FROM product_photo
        WHERE product_id=#{productId} AND path=#{path}
    </delete>
    <select id="selectPhotoById" resultMap="PhotoBaseMap">
        SELECT id,product_id,path
        FROM product_photo WHERE id=#{id}
    </select>
    <select id="selectPhotosByProduct" resultMap="PhotoBaseMap">
        SELECT id,product_id,path
        FROM product_photo WHERE product_id=#{productId}
    </select>

    <select id="selectMaxId" resultType="java.lang.Long">
        FROM product_photo
    </select>
</mapper>