<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.OwnerDao">

    <resultMap id="ProductBaseMap" type="com.heitian.ssm.model.Owner">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_id" property="shopId"/>
        <result column="product_photo_id" property="productPhotoId"/>
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="detail" property="detail"/>
        <result column="create_at" property="createDate"/>
        <result column="modified_at" property="modifiedDate"/>
        <result column="strbrand" property="brand"/>
        <result column="strcategory" property="category"/>
    </resultMap>

    <insert id="insertProduct" useGeneratedKeys="true" parameterType="com.heitian.ssm.model.Product">
        SELECT category.id as cid brand.id as bid
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE #{brand}=brand.brand AND #{category}=category.category
        insert into product VALUES
        (
        #{product.id},#{product.ownerId}, #{product.shopId},
        bid,#{product.productPhotoId},#{product.name},
        #{product.price},cid,#{product.detail},
        #{product.createDate},#{product.modifyDate}
        )
    </insert>

    <delete id="deleteProductById" parameterType="java.lang.Long">
        DELETE FROM product WHERE id=#{id}
    </delete>

    <update id="updateProduct" parameterType="com.heitian.ssm.model.Product">
        SELECT category.id as cid brand.id as bid
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE #{brand}=brand.brand AND #{category}=category.category

        update product set
        owner_id=#{product.ownerId},shop_id= #{product.shopId},
        brand_id=bid, product_photo_id=#{product.productPhotoId},name=#{product.name},
        price=#{product.price},category_id=cid, detail=#{product.detail},
        created_at=#{product.createDate}, modified_at=#{product.modifyDate}
        WHERE id=#{id}
    </update>

    <select id="selectByName" parameterType="java.lang.String" resultMap="ProductBaseMap">
        SELECT brand.brand as strbrand, category.category as strcategroy,
               id, owner_id, shop_id, product_photo_id,name, price, detail, create_at, modified_at
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE name=%#{name}%
    </select>

    <select id="selectByShopId" parameterType="java.lang.Long" resultMap="ProductBaseMap">
        SELECT brand.brand as strbrand, category.category as strcategroy,
               id, owner_id, shop_id, product_photo_id, name, price, detail, create_at, modified_at
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE shop_id=#{shopId}
    </select>

    <select id="selectByShopName" parameterType="java.lang.String" resultMap="ProductBaseMap">
        SELECT brand.brand as strbrand, category.category as strcategroy,
        id, owner_id, shop_id, product_photo_id, name, price, detail, create_at, modified_at
        FROM product JOIN brand JOIN category JOIN shop
        ON    product.brand=brand.brand and product.category=category.category product.shop_id=shop.id
        WHERE shop.name=#{shopName}
    </select>

    <select id="selectByBrand" parameterType="java.lang.String" resultMap="ProductBaseMap">
        SELECT brand.brand as strbrand, category.category as strcategroy,
        id, owner_id, shop_id, product_photo_id, name, price, detail, create_at, modified_at
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE strbrand=#{brand}
    </select>

    <select id="selectByCategory" parameterType="java.lang.String" resultMap="ProductBaseMap">
        SELECT brand.brand as strbrand, category.category as strcategroy,
        id, owner_id, shop_id, product_photo_id, name, price, detail, create_at, modified_at
        FROM product JOIN brand JOIN category
        ON    product.brand=brand.brand and product.category=category.category
        WHERE strcategory=#{category}
    </select>

</mapper>