<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.ShopAdDao">
	<resultMap type="com.heitian.ssm.bo.ShopAdBo" id="shopAd">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="shop_id" property="shopId" jdbcType="BIGINT" />
		<result column="path" property="photoUrl" jdbcType="BIGINT" />
		<result column="rank" property="rank" jdbcType="BIGINT" />
	</resultMap>

	<insert id="addShopAd" parameterType="map">
		INSERT INTO
		shop_advertisement(shop_id, status, rank, date ,path, price)
		VALUE
		(#{shopId}, 0, 0, now(), #{photoUrl}, #{price}*100)
		ON DUPLICATE KEY
		UPDATE status=0, rank=0, date=now(), path=#{photoUrl}
	</insert>


	<delete id="deleteShopAd" parameterType="java.lang.Long">
		DELETE FROM
		shop_advertisement
		WHERE
		shop_id=#{shopId}
	</delete>

	<select id="selectStatus" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT status FROM shop_advertisement where shop_id=#{shopId}
	</select>


	<select id="unverifiedShopAdBo" resultMap="shopAd">
		SELECT shop_advertisement.id, shop_id, shop_advertisement.path, name, rank, price/100 price
		FROM shop_advertisement JOIN shop ON shop_advertisement.shop_id = shop.id
		WHERE shop_advertisement.status = 0
		ORDER BY shop_advertisement.date
		limit #{start}, #{count}
	</select>

    <select id="verifiedShopAdBo" resultMap="shopAd">
        SELECT shop_advertisement.id, shop_id, shop_advertisement.path, name, rank
		FROM shop_advertisement JOIN shop ON shop_advertisement.shop_id = shop.id
		WHERE shop_advertisement.status= 1
		ORDER BY shop_advertisement.date
    </select>

    <select id="getNum" resultType="int">
        SELECT count(*) FROM shop_advertisement
        WHERE status =#{status}
    </select>

    <update id="changeShopAdStatus" parameterType="java.lang.Long">
	  UPDATE shop_advertisement
      SET `status`= #{status}
      WHERE shop_id=#{shopId}
    </update>
</mapper>