<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.ShopIncomeDao">
    <insert id="insertIncome">
        insert into shop_income(shop_id,income,year,month,day,week)
          select shop_id,price-commission,year(now()),month(now()),day(now()),week(now())
          from `order`
          where id=#{orderId};
    </insert>

    <select id="getIncomeByTime" resultType="com.heitian.ssm.bo.IncomeBo" parameterType="map">
        select sum(income)/100 income,
        <choose>
            <when test="i == 0">
                year,month,day
            </when>
            <when test="i == 1">
                year,week
            </when>
            <when test="i == 2">
                year,month
            </when>
            <when test="i == 3">
                year
            </when>
        </choose>
        from shop_income
        where shop_id=#{shopId}
        group by
        <choose>
            <when test="i == 0">
                year,month,day
            </when>
            <when test="i == 1">
                year,week
            </when>
            <when test="i == 2">
                year,month
            </when>
            <when test="i == 3">
                year
            </when>
        </choose>
        order by
        <choose>
            <when test="i == 0">
                year,month,day
            </when>
            <when test="i == 1">
                year,week
            </when>
            <when test="i == 2">
                year,month
            </when>
            <when test="i == 3">
                year
            </when>
        </choose>
    </select>
    <select id="getAllIncome" resultType="double">
        select sum(income)/100 income from shop_income where shop_id=#{shopId}
    </select>
</mapper>