<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.ShopDao">
    <resultMap id="ShopBaseMap" type="com.heitian.ssm.model.Shop">
        <id column="shop.id" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectShopByName" parameterType="java.lang.String" resultMap="ShopBaseMap">
        SELECT id,owner_id,name,contact,email,telephone,status
        FROM shop
        WHERE name=#{name}
    </select>
    <select id="selectShopsByName" parameterType="java.lang.String" resultMap="ShopBaseMap">
        SELECT id,owner_id,name,contact,email,telephone,status
        FROM shop
        WHERE name LIKE "%"#{name}"%"
    </select>
    <select id="selectShopByOwnerId" resultMap="ShopBaseMap">
        SELECT id,owner_id,name,contact,email,telephone,status
        FROM shop
        WHERE owner_id=#{id}
    </select>
    <select id="selectShops" resultMap="ShopBaseMap">
        SELECT id,owner_id,name,contact,email,telephone,status
        FROM shop
        limit #{start},#{count}
    </select>
    <select id="selectVerifiedShops" resultMap="ShopBaseMap">
        SELECT id,owner_id,name,contact,email,telephone,status
        FROM shop
        WHERE status = 3
        limit #{start},#{count}
    </select>
    <insert id="insertShop" useGeneratedKeys="true" keyProperty="id" parameterType="com.heitian.ssm.model.Shop">
        INSERT INTO shop(owner_id,name,contact,email,telephone,status)
        VALUES(#{ownerId},#{name},#{contact},#{email},#{telephone},#{status})
    </insert>
    <update id="updateShop" parameterType="com.heitian.ssm.model.Shop">
        UPDATE shop SET
        contact=#{contact},
        email=#{email},
        telephone=#{telephone},
        status=#{status}
        WHERE name=#{name}
    </update>
    <delete id="deleteShopByName" parameterType="java.lang.String">
        DELETE FROM shop
        WHERE name=#{name}
    </delete>
    <select id="selectUrlByOwnerId" resultType="java.lang.String">
        SELECT path FROM owner_photo
        WHERE owner_id = #{id}
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM shop
    </select>
    <select id="selectVerifiedCount" resultType="java.lang.Integer">
        SELECT count(*) FROM shop
        WHERE status = 3
    </select>
</mapper>